* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
  visibility: collapse;
}

.disabled {
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}

.lightbg {
  background-color: #ecf0f1;
  width: 100%;
  height: 100vh;
  color: rgb(37, 41, 43);
  border-color: rgb(37, 41, 43);
}

.darkbg {
  background-color: rgb(37, 41, 43);
  width: 100%;
  height: 100vh;
  color: #ecf0f1;
  border-color: #ecf0f1;
}

.header {
  width: 100%;
  height: 2.5vh;
  display: flex;
  direction: row;
  font-size: 20px;
}

.cursor {
  line-height: 17px;
  margin-left: 3px;
  animation: blink 0.8s infinite;
  width: 0.2vh;
  height: 2.5vh;
  margin-right: 2vh;
}

#daysGoneBy {
  font-size: 24px;
  font-weight: bold;
}

@keyframes blink {
  0% {
    background: rgb(37, 41, 43);
    color: #ecf0f1;
  }

  50% {
    background: #ecf0f1;
    color: rgb(37, 41, 43);
  }

  100% {
    background: rgb(37, 41, 43);
    color: #ecf0f1;
  }
}

.main {
  height: 94vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.startGame {
  border: 0.05em solid;
  width: 100vh;
  height: 55vh;
  display: flex;
  flex-direction: column;
}

.startGameHidden {
  border: 0.05em solid;
  width: 100vh;
  height: 55vh;
  display: none;
}

.startGameHeading {
  border-bottom: 0.05em solid;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startGameHeading>span {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 64px;
}

.startGameButton {
  border-top: 0.05em solid;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playButton {
  padding: 0.46em 1.6em;
  border-top: 0.05em solid;
  border-bottom: 0.05em solid;
  margin: 0 0.2em 0.2em 0;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  animation: 5s;
}

.playButton:hover {
  border-left: 0.05em solid;
  border-right: 0.05em solid;
}

.instructions {
  height: 40vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
}

.globalScreenHidden {
  border: 0.05em solid;
  width: 120vh;
  height: 52vh;
  display: flex;
  flex-direction: row;
  display: none;
}

.globalScreen {
  margin-top: 5vh;
  border: 0.05em solid;
  width: 130vh;
  height: 52vh;
  display: flex;
  flex-direction: row;
}

.gameLocations {
  border-right: 0.05em solid;
  width: 20vh;
  height: 100%;
}

.gameLocationButton {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
}

.locationButton {
  width: 10vh;
  padding: 0.46em 1.6em;
  border: 0.05em solid;
  margin: 0 0.2em 0.2em 0;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}

.activeLocationButton {
  width: 10vh;
  padding: 0.46em 1.6em;
  border: 0.05em solid;
  margin: 0 0.2em 0.2em 0;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
}

.gameScreen {
  width: 80vh;
  height: 100%;
}

.playerStatus {
  width: 100%;
  height: 70%;
  border-bottom: 0.05em solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playerAvatarFrame {
  height: 15vh;
  width: 15vh;
  border: 0.05em solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerAvatar {
  height: 13vh;
  width: 13vh;
  border: 0.05em solid;
}

.statusBars {
  height: 10vh;
  width: 25vh;
  margin-top: 1vh;
  /* border: 1px solid black */
}

.health {
  border: 0.05em solid;
  height: 2vh;
  margin-bottom: 1vh;
  margin-top: 0.5vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.healthBar {
  margin-top: 0.05vh;
  height: 1.9vh;
  margin-bottom: 1vh;
  background-color: #e74c3c;
}

.temperature {
  border: 0.05em solid;
  height: 2vh;
  margin-bottom: 1vh;
}

.temperatureBar {
  margin-top: 0.05vh;
  height: 1.9vh;
  margin-bottom: 1vh;
  background-color: #3498db;

}

.hunger {
  border: 0.05em solid;
  height: 2vh;
  margin-bottom: 1vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.hungerBar {
  height: 2vh;
  margin-bottom: 1vh;
  background-color: #4cd137;
}

.options {
  height: 6vh;
  width: 29vh;
  /* border: solid 1px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionButton {
  width: 10vh;
  padding: 0.46em 0.6em;
  border: 0.05em solid;
  margin: 0 0.2em 0.2em 0;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  visibility: none;
  cursor: pointer;
}

.playerInventory {
  width: 100%;
  height: 30%;
}

#invItems {
  padding-top: 2vh;
}

#invItems>li {
  list-style: none;
  padding-left: 2vh;
}

.activeItems {
  border-left: 0.05em solid;
  width: 30vh;
  height: 100%;
}

#action-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px;
}

.availableActions {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
}

.availableActionsHidden {
  display: none;
}

.actionButton {
  width: 15vh;
  padding: 0.46em 1.6em;
  border: 0.05em solid;
  margin: 0 0.2em 0.2em 0;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  visibility: none;
  cursor: pointer;
}

.textReader {
  width: 130vh;
  height: 50vh;
}

.textReader :nth-child(1) {
  opacity: 1;
}

.textReader :nth-child(2) {
  opacity: 0.9;
}

.textReader :nth-child(3) {
  opacity: 0.8;
}

.textReader :nth-child(4) {
  opacity: 0.7;
}

.textReader :nth-child(5) {
  opacity: 0.6;
}

.textReader :nth-child(6) {
  opacity: 0.4;
}

.textReader :nth-child(7) {
  opacity: 0.2;
}

.textReader :nth-child(8) {
  opacity: 0.09;
}

.textReader :nth-child(9) {
  opacity: 0.07;
}


.textReader>li {
  font-size: 25px;
  list-style-type: none;
  margin-top: 0.5vh;

}

.footer {
  height: 2vh;
}

.links {
  height: 2vh;
  width: 100%;
  font-size: 18px;
}

.links ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.links li {
  padding-right: 2.5vh;
}

.links li:hover {
  text-decoration: underline;
}

/* The Modal (background) */
.modal {
  /* Hidden by default */
  /* Stay in place */
  z-index: 1;
  width: 40vh;
  /* Full width */
  height: 20vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  color: black;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}